*, *::before, *::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-200: #ababab;
	--base-300: #e1e1e1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
	--hero: #93e4ea;
	--hero-200: #dbe481;
	--yellow-100: #FFF9E6; 
	--light-blue: #e1f5f8; 
	--light-green: #e2ece3; 
	--background-100: #f5f5f5;
	--background-200: #2e2e2e;
	--deneme : #f9fb82;
	
}

body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	padding-bottom:10px;
	background-color: var(--background-100);
	transform: scale(0.4);
    transform-origin: top center; /* Üstten ortalayarak küçült */
}

a {
	text-decoration: none;
	color: var(--blue);
	&:hover {
		text-decoration: underline;
	}
}

header {
	padding-top:10px;
	padding-bottom:10px;
	display:flex;
	justify-content:space-between;
	max-width:1440px;
	margin:auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	.logo-holder {
		display:flex;
		padding:10px;
		align-items:center;
		font-weight:600;
		color: var(--base-800);
		
		.logo {
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:32px;
			background-color: var(--base-800);
			color: var(--base-100);
			height:64px;
			width:64px;
			margin-right:20px;
			border-radius:50%;
		}
		.logo-text {
			flex:1;
		}
	}

	nav {
		display:flex;
		align-items:center;
		ul {
			display:flex;
			list-style-type: none;
			gap:5px;
			li {
				display:inline-block;
				a {
					display:inline-block;
					padding:10px 20px;
					color:var(--base);
					&:hover {
						background-color: var(--base-100);
						border-radius:10px;
						text-decoration:none;
					}
				}
			}
		}
		.mobile-toggle {
			display:none;
			color:var(--base-800);
			padding:10px;
			@media (max-width:768px){
				display:inline-block;
				position:absolute;
				top:20px;
				right:20px;
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction:column;
		align-items:center;
	}

	@media (max-width: 768px) {
		flex-direction:column;
		align-items:center;
		nav {
			margin-top:10px;
			width:100%;
			ul {
				display:none;
				flex-direction:column;
				text-align:center;
				width:100%;
				a {
					width:100%;
				}
				&.active {
					display:flex;
				}
			}
		}
	}
}

section {
	max-width:1440px;
	margin:auto;
	gap:30px;
	margin-top:30px;
	margin-bottom:30px;

	@media (max-width:1440px){
		padding-left:30px;
		padding-right:30px;
	}
}

.button {
	display:inline-block;
	padding:10px 30px;
	background-color: var(--blue);
	color: var(--base-100);
	border-radius:10px;
	transition: ease 0.3s all;
	&:hover {
		text-decoration:none;
		background-color: var(--base-800);
	}
	&.white {
		background-color: white;
		color: var(--base-800);
		&:hover {
			background-color: var(--base-200);
			color: var(--base);
		}
	}
	&.black {
		background-color: black;
		color: white;
		&:hover {
			background-color: var(--base);
			color: var(--base-100);
		}
	}
	&.gray {
		background-color: var(--base-400);
		color: white;
		&:hover {
			background-color: var(--base-100);
			color: var(--base-800);
		}
	}
}

.download-button svg {
    transform: translateY(4px); /* İkonu 4 piksel aşağı kaydırır */
}

h1 {
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	small {
		display:block;
		font-weight:100;
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}


/* Varsayılan paragraf font boyutu (mobile first) */
p {
    font-size: 1rem; /* 16px olarak kabul edilir */
    line-height: 1.5; /* Satır yüksekliği */
}

/* Tablet ve daha büyük cihazlar için */
@media (min-width: 768px) {
    p {
        font-size: 1.125rem; /* 18px */
        line-height: 1.6;
    }
}

/* Masaüstü ve daha büyük cihazlar için */
@media (min-width: 1024px) {
    p {
        font-size: 1.25rem; /* 20px */
        line-height: 1.7;
    }
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-200);
    border-radius: 30px;
    padding: 30px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-right {
    flex: 1;
    padding-right: 30px;
}

.hero-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

.hero-left img {
    margin-top: -120px;
    margin-left: -130px;
    max-width: 100%;
    height: auto;
    transition: transform 3s ease; /* Döndürme efekti için geçiş süresi */
    transform-origin: 50% 65%; /* Dönüşüm merkezini ortaya ayarlıyoruz */
    display: block; /* Görselin etrafındaki boşlukları ortadan kaldırır */
}

.hero-left img.rotate {
    transform: rotate(360deg); /* 360 derece döndürme */
}

.hero-left img:hover {
    transform: rotate(360deg); /* Üzerine gelindiğinde döndürme */
}

.call-to-action {
    margin-top: 20px;
    margin-bottom: 10px;
}

.call-to-action a {
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-links a:hover {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .hero-content {
        flex-direction: column;
    }
    .hero-left, .hero-right {
        padding: 0;
        text-align: center;
    }
    .hero-right img {
        margin-top: 20px;
        max-width: 80%;
    }
}



.logos {
	background-color: var(--base-100);
	border-radius:30px;
	padding:20px 0px;
	@media (max-width:1440px){
		border-radius:0px;
	}
	.marquee {
		width:100vw;
		max-width:100%;
		height:64px;
		overflow:hidden;
		position:relative;
		.track {
			position:absolute;
			white-space:nowrap;
			will-change:transform;
			animation: marquee 50s linear infinite;
			display:flex;
			gap:10px;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

h2 {
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	text-align:center;
	color: var(--base-800);
	padding:30px;
	small {
		display:block;
		font-weight:100;
		font-size:0.5em;
		color:var(--base);
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}

h3 {
	font-size:32px;
	font-weight:600;
	line-height:1;
	margin-bottom:20px;
	color: var(--base-800);
}


/* Education Section */
.education {
    .holder-blue {
        background-color: var(--base-300);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%; /* Kutuların genişliğini sınırlamak için */
    }

    .education-item {
        border: none;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%; /* Kutuların genişliğini tam yap */
    }

    .left, .right {
        flex: 1;
    }

    .left {
        margin-right: 20px;
    }

    .right {
        text-align: right;
    }

    .education-item h3 {
        color: var(--blue-600);
        font-size: 32px;
        margin-bottom: 10px;
    }

    /* Farklı eğitim programları için özel arka plan renkleri */
    .education-item:nth-child(1) {
        background-color: var(--light-blue);
    }

    .education-item:nth-child(2) {
        background-color: var(--light-green);
    }

    /* Responsive adjustments */
    @media (max-width: 1024px) {
        .education-item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .left, .right {
            margin-right: 0;
            text-align: center;
        }

        .education-item h3 {
            font-size: 28px;
        }
    }

    @media (max-width: 768px) {
        .holder-blue {
            padding: 20px;
        }

        .education-item {
            padding: 15px;
        }
    }
}

/* Skills Section */
.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        justify-content: space-between; /* Sol ve sağ sütunların yan yana durmasını sağlar */
        max-width: 100%;
    }

    .left-column, .right-column {
        flex: 1;
    }

    .left-column ul {
        list-style-type: none;
        gap: 10px;
        margin-right: 20px; /* Margin değerini azaltarak daha esnek bir görünüm sağlar */
        margin-bottom: 20px;
    }

    .left-column li {
        display: inline-block;
        background-color: var(--blue-400);
        padding: 10px 20px;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .right-column p {
        margin-bottom: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 1024px) {
        .holder-blue {
            flex-direction: row; /* Sol ve sağ sütunlar için yatay düzeni korur */
        }

        .left-column ul {
            margin-right: 10px;
        }

        .right-column p {
            text-align: left; /* Sağ sütunun hizasını korur */
        }
    }

    @media (max-width: 768px) {
        .holder-blue {
            flex-direction: column; /* Küçük ekranlarda sütunları alt alta sıralar */
        }

        .left-column ul {
            margin-right: 0;
            text-align: center;
        }

        .right-column p {
            text-align: center; /* Sağ sütunun hizasını ortalar */
        }
    }
}


.work-experience {
	.jobs {
		display:flex;
		gap:30px;
		@media(max-width:1024px){
			flex-direction:column;
		}
		article {
			background-color: var(--base-300);
			padding:30px;
			border-radius:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}

}

.thesis {
    .holder-yellow {
        background-color: var(--hero-200);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column; /* İçeriği dikey hizalar */
        max-width: 100%;
    }

    .left-column, .right-column {
        flex: 1;
    }

    .models-used, .libraries-used {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }

    .model, .library {
		color: white;
        display: inline-block;
        background-color: var(--blue); 
        padding: 10px 20px;
        border-radius: 15px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        text-align: center;
    }

    .right-column p {
        margin-bottom: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 1024px) {
        .holder-yellow {
            flex-direction: column;
        }

        .models-used, .libraries-used {
            justify-content: space-between; /* Kutuların yan yana gelmesini sağlar */
        }

        .model, .library {
            flex: 1 1 45%; /* Kutuların genişliği %45 olur, iki kutu yan yana sığar */
        }
    }

    @media (max-width: 768px) {
        .holder-yellow {
            flex-direction: column;
        }

        .models-used, .libraries-used {
            justify-content: center; /* Küçük ekranlarda merkezde hizalama */
        }

        .model, .library {
            flex: 1 1 100%; /* Kutular tam genişlikte görünür */
        }
    }
}


.bento {
	.bento-grid {
		display:grid;
		grid-gap:30px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height:960px;
		@media(max-width:1024px){
			grid-template-rows: repeat(8, 1fr);
		}
		@media(max-width:768px){
			display:flex;
			flex-direction:column;
			gap:30px;
			height:auto;
		}
		.bento-item {
			padding:30px;
			background-color: var(--base-100);
			border-radius:15px;
			position:relative;
			overflow:hidden;
			img {
				position:absolute;
				top:0;
				left:0;
				height:100%;
				object-fit:cover;
				transition: ease 3s all;
			}
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
			@media(max-width:768px){
				height:240px;
			}
			&:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			&:nth-child(2) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(3) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(4) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 4;
				}
			}
			&:nth-child(5) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(6) {
				grid-column: span 5;
				grid-row: span 3;
				@media(max-width:1024px){
					grid-column: span 5;
					grid-row: span 2;
				}
			}
		}
	}
}

.chatbot {
	.chatbot-blue {
		background-color: var(--blue-100);
		border-radius:30px;
		padding:30px;
		gap:30px;
		display:flex;
		@media (max-width:1024px){
			flex-direction:column;
		}
		p {
			margin-bottom:30px;
		}
		.chat-info {
			flex:3;
			padding-right:30px;
		}
		.chat-box {
			flex:4;
			background:white;
			border-radius:15px;
			padding:30px;
			display:flex;
			flex-direction:column;
			.scroll-area {
				max-height:300px;
				height:300px;
				overflow-y:scroll;
				ul {
					display:flex;
					flex-direction:column;
					justify-content:flex-end;
					gap:15px;
					li {
						display:flex;
						align-items:center;
						gap:15px;

						&:nth-child(even){
							text-align:right;
							justify-content:flex-end;
							flex-direction:row-reverse;
							span {
								background-color: var(--yellow);
							}
						}

						span {
							background-color: var(--blue-400);
							width:64px;
							height:64px;
							border-radius:50%;
							display:inline-flex;
							align-items:center;
							justify-content:center;
							@media(max-width:768px){
								width:48px;
								height:48px;
							}
						}
						div {
							flex:1;
						}
					}
				}
			}

			.chat-message {
				display:flex;
				margin-top:15px;
				gap:15px;
				input {
					border-radius:10px;
					flex:1;
					padding:15px;
					border:1px solid transparent;
					background-color: var(--base-100);
					&:hover {
						outline:none;
						background-color:white;
						border:1px solid var(--base-100);
					}
					&:focus {
						outline:none;
						background-color:white;
						border:1px solid var(--base-100);
					}
				}
				button {
					border:none;
					cursor:pointer;
				}
			}
		}
	}
}




.footer {
    background-color: var(--blue-200);
    color: black;
    padding: 30px;
    text-align: center;
    margin-top: auto; /* Footer'ı sayfanın altına itmek için */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Küçük ekranlarda sığmıyorsa satır sonlarına geçer */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left, .footer-middle, .footer-right {
        margin: 0;
        margin-bottom: 20px;
    }
}